@import 'scss/reset.scss';

@import 'scss/settings/fonts';
@import 'scss/settings/colors';

@import 'scss/Home/homeHeader';
@import 'scss/Home/homeMainSection';
@import 'scss/Home/homeThreeColumns';
@import 'scss/Home/homeSimpleSteps';
@import 'scss/Home/homeAboutUs';
@import 'scss/Home/homeWhoWeHelp';
@import 'scss/Home/homeContact';

@import 'scss/Login/Login.scss';
@import 'scss/Login/register';
@import 'scss/Login/logout';

@import 'scss/Form/formHeader';
@import 'scss/Form/formMainSection';

body {
  font-family: $font-base;
  overflow-x: hidden;
}

.container {
  max-width: 768px;
}