.logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .elementBtn {
        text-decoration: none;
        font-family: $font-base;
        font-size: 1rem;
        background-color: transparent;
        font-weight: 400;
        text-align: center;
        color: $grey;
        font-weight: 300;

        padding: 20px;
        margin-top: 20px;

        width: 150px;

        border: 1px solid transparent;

        &:hover {
            border-color: $darkerGray;
        }
    }
}